

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
}

#bg
{
  background-color: rgba(231, 193, 135, 0.801);
  
}

#bgel
{
  background-color: rgba(120, 215, 252, 0.479);
}

#bgca
{
  background-color: #e75858a2;
}

#bghe
{
  background-color: #af701dc5;
}

#bgil
{
  background-color: #f5c02ebe;
}

#bgot
{
background-color: #ffffff;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #111111;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}