

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
}

#bg
{
  background: url('https://img.freepik.com/fotos-premium/grupo-herramientas-grunge-sobre-fondo-madera-espacio-vacio-texto-o-marca_6216-139.jpg?w=740');
  background-repeat: no-repeat;
  background-size: contain;
  
}




.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #111111;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}